:root{
    font-size: 100%;
    --color-degrade1 : #232A34;
    --color-degrade2 : #181E27;
    --color-button : #262E38;
    --color-number : #7C8798;
    --color-orange : #FC7614;
    --color-white : #FFFFFF;
    --color-white-text : #E3E3E3;
    --color-grey-text : #2B2B2B;
    --color-background : #131518;
}

/* sans serif */
@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 500;
    src: url(src/asset/font/Merriweather-sans-medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(src/asset/font/Merriweather-sans-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* serif */ 
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(src/asset/font/EB-Garamond-medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    src: url(src/asset/font/EB-Garamond-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* monospace */ 

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(src/asset/font/JetBrains-Mono-medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(src/asset/font/JetBrains-Mono-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


body{
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;

}

#header{
    width: 1440px;
    display: grid;
    grid-template-rows: 141px;
    grid-template-columns: 1440px;
}

#header > img:nth-child(1), .rectangle, #circle, #header > input:nth-child(3), .search, #header > p:nth-child(5),#header > img:nth-child(6), #header > p:nth-child(7), #header > p:nth-child(8), #header > img:nth-child(10){
    grid-column-start: 1;
    grid-row-start: 1;
}

#header > img:nth-child(1){
    margin-top: 65px;
    margin-left: 41px;
    z-index: 1;
}

#header > img:nth-child(6){
    margin-top: 57px;
    margin-left: 41px;
}

.rectangle{
    width: 46px;
    max-height: 22px;
    margin-top: 80px;
    margin-left: 1280px; /*405*/
    background-color: #000;
    border-radius: 13px;
}

.rectangle:hover{
    background-color: #707070;
    cursor: pointer;
}

.circle{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-left: 26px;
    background-color: var(--color-white);
    border-radius: 11px;
    transition: margin 0.5s ease-in-out;
}

.inputValid{
    font-weight: 700;
    width: 323px;
    border-radius: 20px 0px 0px 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    border: 2px solid #43A2B7;
    margin-top: 72px;
    margin-bottom: 29px;
    margin-left: 478px; 
    outline: none;
    color: var(--color-grey-text);
}

.inputValid:hover, #header > .inputValid:focus{
    border: 2px solid #16C4EA ;
}

.inputValid:hover~ .search, #header > .inputValid:focus~ .search {
    background-color: #16C4EA;
}

.search{
    width: 35px;
    border-radius: 0px 20px 20px 0px;
    background-color: #43A2B7;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 14px;
    margin-top: 72px;
    margin-bottom: 29px;
    margin-left: 836px; 
}

.slogan{
    width: 290px;
    font-size: 16px;
    font-weight: 700;
    color: #145462;
    line-height: 27px;
    margin: 0;
    margin-top: 65px;
    margin-left: 990px; 
    text-align: center;
    display: none;
}

#header > p:nth-child(7){
    width: 400px;
    color: #ff1c1c;
    margin: 0;
    margin-left: 510px;
    margin-top: 118px;
    font-size: 16px;
    z-index: 1;
}

#header > p:nth-child(8){
display: none;
}

#audioPlayer{
    display: none;
}

.clearGears{
    filter: invert(8%) sepia(1%) saturate(4095%) hue-rotate(314deg) brightness(103%) contrast(80%);
    margin: 0;
    margin-top: 60px;
    margin-left: 1350px;
}

.clearGears:hover{
    filter: invert(59%) sepia(16%) saturate(1375%) hue-rotate(144deg) brightness(93%) contrast(88%);
    opacity: 0.5;
    margin: 0;
    margin-top: 60px;
    margin-left: 1350px;
    cursor: pointer;
}

#page > p:first-child{
    background-color: #43A2B7;
    opacity: 1;
    margin: 0;
}

#page{
    width: 1250px;
    display: flex;
    margin-top: 79px;
    margin-left: 43px;
}

.line{
    width: 1150px;
    background-color: #16C4EA;
    height: 2px;
    margin-left: 27px;
    transition: background-color 1s;
}

#buttonRow{
    display: flex;
    margin-left: 20px;
}

label{
    width: 250px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: var(--color-white);
    background-color: #707070;
    opacity: 0.70;
    display: block;
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
    margin: 0;
    transition: opacity 1s;
}

#buttonRow > .button:last-child > label{
    margin: 0;
}

label:hover{
    background-color: #43A2B7;
    opacity: 0.5;
    cursor: pointer;
    transition: color 0s;
} 

input:checked +label{
    opacity: 1;
    background-color: #43A2B7;
    transition: background-color 1s;
}

.button > input {
    display: none;
}

#mot{
    display: flex;
}

#mot > p:first-child, #synonyms > p, #antonyms > p{
    text-transform: capitalize;
}

#mot > p:nth-child(1){
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    margin: 0;
    margin-top: 54px;
    margin-left: 102px;
}

#mot > p:nth-child(2){
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin: 0;
    margin:0;
    margin-top: 75px;
    margin-left: 35px;
    white-space: nowrap;
}

#mot > p:nth-child(3){
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin:0;
    margin-top: 75px;
    margin-left: 35px;
    font-style: italic;
}

.textTitle{
    color: #5e5e5e;
    transition: color 1s;
}

#mot > img:nth-child(4){
    margin-top: 75px;
    margin-left: 29px;
    border: 2px solid rgba(255, 255, 255, 0);
}

#mot > img:nth-child(4):hover{
    border: 2px solid #16C4EA;
    cursor: pointer;
}

#blackline{
    width: 1000px;
    background-color: #000000;
    height: 1px;
    margin-left: 59px;
    margin-bottom: 59px;
    transition: background-color 1s;
}

.blackcircle{
    min-width: 15px;
    height: 15px;
    background-color: var(--color-grey-text);
    border-radius: 11px;
    transition: background-color 1s;
}

.flex{
    display: flex;
    align-items: center;
    margin-left: 57px;
    margin-bottom: 26px;
}

.flex > p{
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin: 0;
    margin-left: 24px;
    text-align: justify;
}

.text{
    color: var(--color-grey-text);
    transition: color 1s;
}

.flexRow{
    display: flex;
    margin-bottom: 60px;
}

.flexRow > .flex{
    width: 220px;
}

.flexRow > .flex > p{
    font-size: 24px;
    line-height: 34px;  
}

.flexRow > .flex > p:hover{
    cursor: pointer;
    color: #16C4EA;
    transition-delay: -1s;
}

/* mode sombre */

.container{
    min-height: 100vh;
    background-color: var(--color-white);
    transition: background-color 1s;
    padding-bottom: 50px;
}

.blackContainer{
    background-color: #363636;
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 1;
    transition: background-color 1s, opacity 1s;
}

.darkRectangle{
    background-color: var(--color-white);
}

.darkRectangle:hover{
    background-color: #6d0b7c;
    cursor: pointer;
}

.darkRectangle:hover > .circle{
    background-color: var(--color-white);
    cursor: pointer;
}

.darkCircle{
    background-color: #000;
    margin-left: 4px;
    transition: margin 0.5s ease-in-out;
 

}

.darkLabel{
    opacity: 1;
    transition: opacity 1s;
}

.darkLabel:hover{
    background-color: #3EC4E1;
    opacity: 1;

} 

input:checked + .darkLabel{
    opacity: 1;
    background-color: #108AE2;
    transition: background-color 0s;
}

.darkLine{
    background-color: #43A2B7;
    transition: background-color 1s;
}

.clearLogo{
    display: none;
}

.darkSearchBar {
    border: 2px solid #108AE2;
    transition: border-color 1s;
}

.darkSearch{
    background-color: #108AE2;
    transition: background-color 1s;
}

.darkSlogan{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 598px;
    font-size: 26px;
    font-weight: 700;
    color: #FFF;
    line-height: 27px;
    margin: 0;
    text-align: center;   
    white-space: nowrap; 
    margin-top: 103px;
    margin-left: 300px;
    color: #108AE2;
    transition: color 1s;
}

.darkSoundLogo{
    filter: invert(77%) sepia(0%) saturate(7396%) hue-rotate(277deg) brightness(113%) contrast(105%);
}

.darkBullet{
    background-color: var(--color-white-text);
    transition: background-color 1s;
}

.darkText{
    color: var(--color-white-text);
    transition: color 1s;
}

.darkWord{
    color: var(--color-white);
    transition: color 1s;
}

.darkGears{
    filter: invert(88%) sepia(0%) saturate(1972%) hue-rotate(141deg) brightness(100%) contrast(101%); 
}

.darkGears:hover{
    filter: invert(59%) sepia(16%) saturate(1375%) hue-rotate(140deg) brightness(130%) contrast(88%);
    opacity: 1;  
}

/* modal */ 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
}

.modalContent {
    background-color: #fff;
    padding: 7px 0px 20px 45px;
    border-radius: 15px;
    max-width: 300px;
    margin: 15% auto;
    position: relative;
    border: 3px solid #6d0b7c;
    display: block;
}

.modalContent > img{
    transform: rotate(45deg);
    margin-left: 260px;
}

.modalContent > img:hover{
    transform: rotate(45deg);
    margin-left: 260px;
    filter: invert(13%) sepia(98%) saturate(3319%) hue-rotate(303deg) brightness(88%) contrast(109%);
    cursor: pointer;    
}


.buttonModal{
    width: 250px;
}

.buttonModal > label {
    width: 250px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: var(--color-white);
    background-color: #707070;
    opacity: 0.70;
    display: block;
     padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    margin: 0;
    transition: opacity 1s;    
}

.buttonModal > input {
    display: none;
}

.buttonModal > label:hover{
    background-color: #6d0b7c;
    opacity: 0.5;
    cursor: pointer;
    transition: color 0s;
} 

.buttonModal > input:checked + label{
    opacity: 1;
    background-color: #6d0b7c;
    transition: background-color 1s;
}

.modalContent > .buttonModal > label {
    margin-bottom: 20px;
}


.modalContent > .buttonModal:nth-child(2) > label{
    font-family: 'Merriweather Sans', sans-serif;
}

.modalContent > .buttonModal:nth-child(3) > label{
    font-family: 'EB Garamond', serif;
}

.modalContent > .buttonModal:nth-child(4) > label{
    font-family: 'JetBrains Mono', monospace;
}

.buttonModal > .darkLabelModal{
    opacity: 1;
}

.buttonModal > .darkLabelModal:hover{
  opacity: 1;
  background-color: #85558d;
  
}

.buttonModal > input:checked + .darkLabelModal{
    background-color: #6d0b7c;
    transition: none; 
  }

.darkModalContent{
    background-color: #363636;
}

.typewritter{
    display: grid;
}

.Slogan{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 598px;
    font-size: 26px;
    font-weight: 700;
    color: #145462;
    line-height: 27px;
    margin: 0;
    text-align: center;   
    white-space: nowrap; 
    margin-top: 103px;
    margin-left: 300px;
}

.cursor{
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 29px;
    color: #145462;
    margin-top: 98px;
    margin-left: 896px;
}

.darkCursor{
    transition: color 1s;
    color: #108AE2;
}


@media (min-width: 770px) and (max-width: 1025px) {

    #header{
        width: 1024px;
    }

    #page{
        width: 900px;
    }

    .slogan{
        display: none;
    }

    .inputValid{
        margin-left: 360px; 
    }

    .search{
        margin-left: 719px; 
    }

    .rectangle{
        margin-left: 860px;
    }

    #header > p:nth-child(7){
        margin-left: 380px;
    }

    .clearGears{
        margin-left: 920px;
    }

    .clearGears:hover{
        margin-left: 920px;
    }

    label{
        width: 210px;
    }

    .line{
        width: 940px;
    }

    #mot > p:nth-child(1){
        font-size: 50px;
    }
    #mot > p:nth-child(2){
        font-size: 26px;
    }
    #mot > p:nth-child(3){
        font-size: 26px;
    }

    #mot > img:nth-child(4){
        margin-top: 70px;
    }
    
    #blackline{
        width: 800px;
        margin-left: 25px;
    }

    .flex > .text {
        width: 750px;
    }

    .flexRow > .flex{
        width: 150px;
    }

    .flexRow > .flex > p{
        font-size: 18px;
        line-height: 34px;  
    }

    .Slogan{
        margin-top: 100px;
        margin-left: 200px;
    }

    .darkSlogan{
        margin-top: 100px;
        margin-left: 200px;
    }
    
    
    .cursor{
        font-size: 29px;
        margin-top: 95px;
        margin-left: 796px;
    }
}

@media (min-width: 427px) and (max-width: 769px) {

    #header{
        width: 768px;
    }

    #page{
        width: 620px;
    }

    #header > img:nth-child(1){
        width: 192px;
    }

    #header > img:nth-child(6){
        width: 192px;
        
    }

    .inputValid{
        width: 200px;
        margin-left: 285px; 
    }

    .search{
        margin-left: 515px; 
        padding-top: 9px;
    }

    .rectangle{
        margin-left: 630px;
    }

    #header > p:nth-child(7){
        margin-left: 300px;
        font-size: 12px;
    }

    .slogan{
        display: none;
    }

    .clearGears{
        margin-left: 690px;
    }

    .clearGears:hover{
        margin-left: 690px;
    }

    label{
        width: 150px;
        font-size: 18px;
    }

    .line{
        width: 700px;
    }

    #mot > p:nth-child(1){
        font-size: 30px;
        margin-top: 30px;
    }
    #mot > p:nth-child(2){
        font-size: 20px;
        margin-top: 51px;
    }
    #mot > p:nth-child(3){
        font-size: 20px;
        margin-top: 51px;
    }

    #mot > img:nth-child(4){
        margin-top: 46px;
    }

    #blackline{
        width: 620px;
    }

    .flex > .text {
        width: 590px;
    }

    .flexRow > .flex{
        width: 110px;
    }

    .flexRow > .flex > p{
        font-size: 14px;
        line-height: 34px;  
    }

    .modalContent {
        max-width:250px;
    }
    
    .modalContent > img{
        margin-left: 210px;
    }
    
    .modalContent > img:hover{
        margin-left: 210px;  
    }

     
    .buttonModal > label {
        width: 200px;
        font-size: 18px;
        line-height: 20px;
    }

    .Slogan{
        width: 457px;
        font-size: 20px;
        margin-top: 100px;
        margin-left: 150px;
    }

    .darkSlogan{
        width: 457px;
        font-size: 20px;
        margin-top: 100px;
        margin-left: 150px;
    }
    
    .cursor{
        font-size: 21px;
        margin-top: 100px;
        margin-left: 609px;
    }
    
    
}

@media (min-width: 377px) and (max-width: 426px) {


    #header > *{
        grid-row-start: 1;
        grid-column-start: 1;
    }

    #header{
        grid-template-rows: 181px;
        grid-template-columns: 425px;
        width: 414px;
    }

    #page{
        width: 620px;
       
    }

    #header > img:nth-child(1){
        margin-top: 35px;
        margin-left: 10px;
        
    }

    #header > img:nth-child(6){
        margin-top: 27px;
        margin-left: 10px;
    }

    .slogan{
        font-size: 12px;
        line-height: 18px;
        margin-top: 41px;
        margin-left: 240px;
        width: 170px;
    }

    .inputValid{
        width: 173px;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 140px;
    }

    .search{
        margin-top: 140px;
        margin-left: 230px; 
        margin-bottom: 0px;
        z-index: 1;
    }

    .rectangle{
        margin-top: 150px;
        margin-left: 305px;
        z-index: 1;
    }

    .clearGears{
        margin-left: 690px;
    }

    .clearGears:hover{
        margin-left: 690px;
    }

    #header > p:nth-child(7){
        margin-top: 190px;
        margin-left: 40px;
        font-size: 12px;
    }

    .clearGears{
        margin-top: 128px;
        margin-left: 360px;
    }

    .clearGears:hover{
        margin-top: 128px;
        margin-left: 360px;
    }

    #page{
        width: 410px;
        position: absolute;
    }


    #buttonRow {
        margin: 0;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .button > label{
        width: 105px;
        font-size: 14px;
        border-radius: 0;
        border-top: solid 1px;
        border-right: solid 1px;
        line-height: 50px;
        opacity: 1;
        background-color: #909090;
        transition: background-color 1s;
        padding-top: 7px;
        padding-bottom: 6px;
    }

     .button > .darkLabel{
        background-color: #707070;
        transition: background-color 1s;
    }
    
    .line{
        display: none;
    }

    #mot{
        width: 410px;
    }

    #mot > p:nth-child(1){
        font-size: 18px;
        margin-top: 30px;
        margin-left: 30px;
    }
    #mot > p:nth-child(2){
        font-size: 12px;
        margin-top: 51px;
        margin-left: 10px;
    }
    #mot > p:nth-child(3){
        font-size: 12px;
        margin-top: 51px;
        margin-left: 10px;
    }

    #mot > img:nth-child(4){
        margin-top: 46px;
        margin-left: 10px;
    }

    #blackline{
        width: 360px;
        margin-left: 20px;
    }

    .blackcircle{
        min-width: 12px;
        height: 12px;
    }

    .flex > .text {
        width: 318px;
        font-size: 12px;
        margin-left: 12px;
    }

    .flex {
        width: 350px;
        margin-left: 28px;
       
    }

    .flexRow{
        width: 200px;
        display: block;
    }

    #synonyms, #antonyms{
        width: 400px;
        display: flex;
    }

    .flexRow > .flex{
        width: 110px;
    }

    .flexRow > .flex > p{
        width: 200px;
        font-size: 14px;
        line-height: 34px;  
    }

    .modalContent {
        max-width:150px;
        padding-left: 25px;
        padding-bottom: 15px;
    }
    
    .modalContent > img{
        width: 20px;
        height: 20px;
        margin-left: 120px;
    }
    
    .modalContent > img:hover{
        margin-left: 120px;  
    }
     
    .modalContent > .buttonModal > label {
        width: 120px;
        font-size: 16px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    .Slogan{
        width: 327px;
        font-size: 20px;
        line-height: 27px;
         white-space: normal;
        margin-top: 100px;
        margin-left: 49px;
    }

    .darkSlogan{
        width: 327px;
        font-size: 20px;
        line-height: 27px;
         white-space: normal;
        margin-top: 100px;
        margin-left: 49px;
    }
    
    .cursor{
        font-size: 21px;
        margin-top: 128px;
        margin-left: 288px;
    }
    

}


@media (max-width: 376px) {

    #header > *{
        grid-row-start: 1;
        grid-column-start: 1;
    }


    #header{
        grid-template-rows: 181px;
        grid-template-columns: 375px;
        width: 370px;
    }

    #header > img:nth-child(1){
        width: 170px;
        margin-top: 35px;
        margin-left: 4px;
        
    }

    #header > img:nth-child(6){
        width: 170px;
        margin-top: 27px;
        margin-left: 4px;
    }

    #header > p:nth-child(7){
        margin-top: 190px;
        margin-left: 40px;
        font-size: 12px;
    }

    .slogan{
        font-size: 12px;
        line-height: 18px;
        margin-top: 41px;
        margin-left: 185px;
        width: 170px;
    }

    

    .inputValid{
        width: 138px;
        margin-left: 14px;
        margin-bottom: 0px;
        margin-top: 140px;
        padding-left: 22px;
        z-index: 4;
    }

    .search{
        margin-top: 140px;
        margin-left: 179px; 
        margin-bottom: 0px;
        z-index: 1;
    }

    .rectangle{
     
        margin-top: 150px;
        margin-left: 305px;
        z-index: 1; 
        margin-left: 257px;
    }

    .clearGears{
        margin-top: 125px;
        margin-left: 312px;
        z-index: 1;
    }

    .clearGears:hover{
        margin-top: 125px;
        margin-left: 312px;
        z-index: 1;
    }

    #header > p:nth-child(7){
        margin-left: 31px;
    }

    .line{
        display: none;
    }

    #page{
        width: 410px;
        position: absolute;
        width: 0px;
    }


    #buttonRow {
        margin: 0;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .button > label{
        width: 93px;
        font-size: 13px;
        border-radius: 0;
        border-top: solid 1px;
        border-right: solid 1px;
        line-height: 50px;
        opacity: 1;
        background-color: #909090;
        transition: background-color 1s;
        padding-top: 7px;
        padding-bottom: 6px;
    }

     .button > .darkLabel{
        background-color: #707070;
        transition: background-color 1s;
    }
    
    .line{
        display: none;
    }

    #mot{
        width: 374px;
    }

    #mot > p:nth-child(1){
        font-size: 18px;
        margin-top: 30px;
        margin-left: 30px;
    }
    #mot > p:nth-child(2){
        font-size: 12px;
        margin-top: 51px;
        margin-left: 10px;
    }
    #mot > p:nth-child(3){
        font-size: 12px;
        margin-top: 51px;
        margin-left: 10px;
    }

    #mot > img:nth-child(4){
        margin-top: 46px;
        margin-left: 10px;
    }

    #blackline{
        width: 330px;
        margin-left: 14px;
    }

    .blackcircle{
        min-width: 12px;
        height: 12px;
    }

    .flex > .text {
        width: 318px;
        font-size: 12px;
        margin-left: 12px;
    }

    .flex {
        width: 350px;
        margin-left: 28px;
       
    }

    .flexRow{
        width: 200px;
        display: block;
    }

    #synonyms, #antonyms{
        width: 400px;
        display: flex;
    }

    .flexRow > .flex{
        width: 110px;
    }

    .flexRow > .flex > p{
        width: 200px;
        font-size: 14px;
        line-height: 34px;  
    }

    .modalContent {
        max-width:150px;
        padding-left: 25px;
        padding-bottom: 15px;
    }
    
    .modalContent > img{
        width: 20px;
        height: 20px;
        margin-left: 120px;
    }
    
    .modalContent > img:hover{
        margin-left: 120px;  
    }
     
    .modalContent > .buttonModal > label {
        width: 120px;
        font-size: 16px;
        line-height: 15px;
        margin-bottom: 15px;
    }


    #synonyms, #antonyms{
        width: 370px;
    }

    .flex {
        width: 320px;
        margin-left: 16px;
    }

    .flex > .text {
        width: 300px;
        font-size: 12px;
        margin-left: 12px;
    }

    .flexRow {
        width: 185px;
    }

    .Slogan{
        width: 327px;
        font-size: 20px;
        line-height: 27px;
        white-space: normal;
        margin-top: 100px;
        margin-left: 24px;
    }

    .darkSlogan{
        width: 327px;
        font-size: 20px;
        line-height: 27px;
        white-space: normal;
        margin-top: 100px;
        margin-left: 24px;
    }
    
    .cursor{
        font-size: 21px;
        margin-top: 128px;
        margin-left: 263px;
    }
    

}


@media (min-width: 2559px) {
    #header{
        width: 2560px;
        grid-template-rows: 141px;
        grid-template-columns: 2560px;
    }

    #header > img:nth-child(1){
        margin-top: 77px;
        margin-left: 90px;
    }
    
    #header > img:nth-child(6){
        margin-top: 68px;
        margin-left: 90px;
    }
    
    .rectangle{
        width: 92px;
        max-height: 44px;
        margin-top: 80px;
        margin-left: 2305px; 
        border-radius: 22px;
    }
    
    .circle{
        width: 32px;
        height: 32px;
        margin-top: 6px;
        margin-left: 6px;
        border-radius: 16px;
    }
    
    .inputValid{
        width: 900px;
        border-radius: 32px 0px 0px 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 55px;
        margin-top: 70px;
        margin-bottom: 29px;
        margin-left: 728px; 
        font-size: 22px;
    }

.search{
    width: 35px;
    border-radius: 0px 45px 45px 0px;
    padding-top: 23px;
    padding-bottom: 45px;
    padding-left: 24px;
    padding-right: 20px;
    margin-top: 70px;
    margin-bottom: 29px;
    margin-left: 1686px; 
}

.slogan{
display: none; 
}

#header > p:nth-child(7){
    width: 400px;
    margin-left: 510px;
    margin-top: 118px;
    font-size: 16px;
}

.clearGears{
    width: max-content;
    margin-top: 70px;
    margin-left: 2450px;
}

.clearGears:hover{
    margin-top: 70px;
    margin-left: 2450px;
}

#buttonRow{
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
}

label{
    width: 450px;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 13px;
    border-radius: 45px 45px 0px 0px;
}

.line{
    width: 2000px;
    height: 2px;
    margin-left: 47px;
}

#mot{
    margin-left: 100px;
    margin-top: 30px;
}

#mot > p:nth-child(1){
    font-size: 84px;
    font-weight: 700;
    line-height: 87px;
    margin: 0;
    margin-top: 54px;
    margin-left: 102px;
}

#mot > p:nth-child(2){
    font-size: 46px;
    font-weight: 500;
    line-height: 46px;
    margin: 0;
    margin:0;
    margin-top: 75px;
    margin-left: 35px;
    white-space: nowrap;
}

#mot > p:nth-child(3){
    font-size: 46px;
    font-weight: 500;
    line-height: 46px;
    margin:0;
    margin-top: 75px;
    margin-left: 35px;
    font-style: italic;
}

#blackline{
    width: 1700px;
    background-color: #000000;
    height: 1px;
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 59px;
    transition: background-color 1s;
}

.flex{
    margin-left: 130px;
    margin-bottom: 58px;
}

.flex > .text {
    font-size: 30px;
    margin-left: 40px;
}

.blackcircle{
    min-width: 25px;
    height: 25px;
    background-color: var(--color-grey-text);
    border-radius: 17px;
    transition: background-color 1s;
}

#header > p:nth-child(7){
    width: 400px;
    margin-left: 783px;
    margin-top: 155px;
    font-size: 22px;
}

.flexRow{
    margin-top: 150px;
    margin-bottom: 60px;
}

.flexRow > .flex{
    width: 320px;
}

.flexRow > .flex > p{
    font-size: 34px;
}

.Slogan{
    font-size: 56px;
    margin-top: 200px;
    margin-left: 500px;
}

.darkSlogan{
    font-size: 56px;
    margin-top: 200px;
    margin-left: 500px;
}


.cursor{
    font-size: 56px;
    margin-top: 178px;
    margin-left: 1786px;
}
}