:root{
    font-size: 100%;
    --color-degrade1 : #232A34;
    --color-degrade2 : #181E27;
    --color-button : #262E38;
    --color-number : #7C8798;
    --color-orange : #FC7614;
    --color-white : #FFFFFF;
    --color-grey : #969FAD;
    --color-background : #131518;
}

body{
    margin: 0;
}

#header{
    width: 1440px;
    display: grid;
    grid-template-rows: 141px;
    grid-template-columns: 1440px;
}

#header > img:nth-child(1), .rectangle, #circle, #header > input:nth-child(3), .search, #header > p:nth-child(5),#header > img:nth-child(6), #header > p:nth-child(7){
    grid-column-start: 1;
    grid-row-start: 1;
}

#header > img:nth-child(1){
    margin-top: 65px;
    margin-left: 41px;
    z-index: 1;
}

#header > img:nth-child(6){
    margin-top: 57px;
    margin-left: 41px;
}

.rectangle{
    width: 46px;
    max-height: 22px;
    margin-top: 80px;
    margin-left: 405px; /*405*/
    background-color: #000;
    border-radius: 13px;
}

.rectangle:hover{
    background-color: #707070;
    cursor: pointer;
}

#circle{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-left: 26px;
    background-color: #FFF;
    border-radius: 11px;
}

.inputValid{
    width: 323px;
    border-radius: 20px 0px 0px 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    border: 2px solid #43A2B7;
    margin-top: 72px;
    margin-bottom: 29px;
    margin-left: 478px; /*478*/
    outline: none;
}

.inputValid:hover, #header > .inputValid:focus{
    border: 2px solid #16C4EA ;
}

.inputValid:hover~ .search, #header > .inputValid:focus~ .search {
    background-color: #16C4EA;
}

.search{
    width: 35px;
    border-radius: 0px 20px 20px 0px;
    background-color: #43A2B7;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 14px;
    margin-top: 72px;
    margin-bottom: 29px;
    margin-left: 836px; /*772*/
}

.slogan{
    width: 375px;
    font-size: 16px;
    font-weight: 700;
    color: #145462;
    line-height: 27px;
    margin: 0;
    margin-top: 78px;
    margin-left: 1005px; /*1005*/
}

#header > p:nth-child(7){
    color: #ff1c1c;
    margin: 0;
    margin-left: 510px;
    margin-top: 118px;
    font-size: 16px;
    z-index: 1;
}

.onglet{
    width: 250px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: white;
    background-color: #707070;
    opacity: 0.70;
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
    margin: 0;
}

#page > p:first-child{
    background-color: #43A2B7;
    opacity: 1;
    margin: 0;
}

#page{
    display: flex;
    margin-top: 79px;
    margin-left: 43px;
}

.line{
    width: 1150px;
    background-color: #16C4EA;
    height: 2px;
    margin-left: 27px;
    transition: background-color 1s;
}

#buttonRow{
    display: flex;
    margin-left: 20px;
}

label{
    width: 250px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: white;
    background-color: #707070;
    opacity: 0.70;
    display: block;
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
    margin: 0;
    transition: opacity 1s;
}

#buttonRow > .button:last-child > label{
    margin: 0;
}

label:hover{
    background-color: #43A2B7;
    opacity: 0.5;
    cursor: pointer;
    transition: color 0s;
} 

input:checked +label{
    opacity: 1;
    background-color: #43A2B7;
    transition: background-color 1s;
}

.button > input {
    display: none;
}

#mot{
    display: flex;
}

#mot > p:first-child, #synonyms > p, #antonyms > p{
    text-transform: capitalize;
}

#mot > p:nth-child(1){
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    margin: 0;
    margin-top: 54px;
    margin-left: 102px;
}

#mot > p:nth-child(2){
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin: 0;
    margin:0;
    margin-top: 75px;
    margin-left: 35px;
}

#mot > p:nth-child(3){
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin:0;
    margin-top: 75px;
    margin-left: 35px;
    font-style: italic;
}

.textTitle{
    color: #5e5e5e;
    transition: color 1s;
}

#mot > img:nth-child(4){
    margin-top: 75px;
    margin-left: 29px;
    border: 2px solid rgba(255, 255, 255, 0);
}

#mot > img:nth-child(4):hover{
    border: 2px solid #16C4EA;
    cursor: pointer;
}

#mot > img:nth-child(5){
    margin-top: 75px;
    margin-left: 29px;
    border: 2px solid rgba(255, 255, 255, 0);
}

#mot > img:nth-child(5):hover{
    border: 2px solid #16C4EA;
    cursor: pointer;
}

#blackline{
    width: 1000px;
    background-color: #000000;
    height: 1px;
    margin-left: 59px;
    margin-bottom: 59px;
    transition: background-color 1s;
}

.blackcircle{
    min-width: 15px;
    height: 15px;
    background-color: #2B2B2B;
    border-radius: 11px;
    transition: background-color 1s;
}

.flex{
    display: flex;
    align-items: center;
    margin-left: 57px;
    margin-bottom: 26px;
}

.flex > p{
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin: 0;
    margin-left: 24px;
}

.text{
    color: #2B2B2B;
    transition: color 1s;
}

.flexRow{
    display: flex;
    margin-bottom: 60px;
}

.flexRow > .flex{
    width: 220px;
}

.flexRow > .flex > p{
    font-size: 24px;
    line-height: 34px;  
}

.flexRow > .flex > p:hover{
    cursor: pointer;
    color: #16C4EA;
    transition-delay: -1s;
}

/* mode sombre */

.container{
    min-height: 100vh;
    background-color: #fff;
    transition: background-color 1s;
}

.blackContainer{
    background-color: #363636;
    min-height: 100vh;
    opacity: 1;
    transition: background-color 1s, opacity 1s;
}

.darkRectangle{
    background-color: #b74f4f;
}

.darkRectangle:hover{
    background-color: #bb3485;
    cursor: pointer;
}

.darkCircle{
    background-color: #000;
}

.darkLabel{
    opacity: 1;
    transition: opacity 1s;
}

.darkLabel:hover{
    background-color: #3EC4E1;
    opacity: 1;

} 

input:checked + .darkLabel{
    opacity: 1;
    background-color: #108AE2;
    transition: background-color 0s;
}

.darkLine{
    background-color: #43A2B7;
    transition: background-color 1s;
}

.clearLogo{
    display: none;
}

.darkSearchBar {
    border: 2px solid #108AE2;
    transition: border-color 1s;
}

.darkSearch{
    background-color: #108AE2;
    transition: background-color 1s;
}

.darkSlogan{
    color: #108AE2;
    transition: color 1s;
}

.darkBullet{
    background-color: #e4e4e4;
    transition: background-color 1s;
}

.darkText{
    color: #E3E3E3;
    transition: color 1s;
}


.darkWord{
    color: #FFF;
    transition: color 1s;
}


