:root{
    font-size: 100%;
    --color-degrade1 : #232A34;
    --color-degrade2 : #181E27;
    --color-button : #262E38;
    --color-number : #7C8798;
    --color-orange : #FC7614;
    --color-white : #FFFFFF;
    --color-white-text : #E3E3E3;
    --color-grey-text : #2B2B2B;
    --color-background : #131518;
}

/* sans serif */
@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 500;
    src: url(src/asset/font/Merriweather-sans-medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(src/asset/font/Merriweather-sans-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* serif */ 
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(src/asset/font/EB-Garamond-medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    src: url(src/asset/font/EB-Garamond-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* monospace */ 

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(src/asset/font/JetBrains-Mono-medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(src/asset/font/JetBrains-Mono-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


body{
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;

}

#header{
    width: 1440px;
    display: grid;
    grid-template-rows: 8.8125rem;
    grid-template-columns: 90rem;
}

#header > img:nth-child(1), .rectangle, #circle, #header > input:nth-child(3), .search, #header > p:nth-child(5),#header > img:nth-child(6), #header > p:nth-child(7), #header > p:nth-child(8), #header > img:nth-child(10){
    grid-column-start: 1;
    grid-row-start: 1;
}

#header > img:nth-child(1){
    margin-top: 4.0625rem;
    margin-left: 2.5625rem;
    z-index: 1;
}

#header > img:nth-child(6){
    margin-top: 3.5625rem;
    margin-left: 2.5625rem;
}

.rectangle{
    width: 46px;
    max-height: 1.375rem;
    margin-top: 5rem;
    margin-left: 80rem; /*405*/
    background-color: #000;
    border-radius: 0.8125rem;
}

.rectangle:hover{
    background-color: #707070;
    cursor: pointer;
}

.circle{
    width: 16px;
    height: 1rem;
    margin-top: 0.1875rem;
    margin-left: 1.625rem;
    background-color: var(--color-white);
    border-radius: 0.6875rem;
    transition: margin 0.5s ease-in-out;
}

.inputValid{
    font-weight: 700;
    width: 370px;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    border: 0.125rem solid #43A2B7;
    margin-top: 4.5rem;
    margin-bottom: 1.8125rem;
    margin-left: 29.875rem; 
    outline: none;
    color: var(--color-grey-text);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);

}


.inputValid:hover, #header > .inputValid:focus{
    border: 0.125rem solid #16C4EA ;
}

.inputValid:hover~ .search, #header > .inputValid:focus~ .search {
    background-color: #16C4EA;
}

.search{
    width: 35px;
    border-radius: 0rem 1.25rem 1.25rem 0rem;
    background-color: #43A2B7;
    padding-top: 0.5rem;
    padding-bottom: 0.375rem;
    padding-left: 0.875rem;
    margin-top: 4.5rem;
    margin-bottom: 1.8125rem;
    margin-left: 52.25rem; 


}

.slogan{
    width: 290px;
    font-size: 1rem;
    font-weight: 700;
    color: #145462;
    line-height: 1.6875rem;
    margin: 0;
    margin-top: 4.0625rem;
    margin-left: 61.875rem; 
    text-align: center;
    display: none;
}

#header > p:nth-child(7){
    width: 400px;
    color: #ff1c1c;
    margin: 0;
    margin-left: 31.875rem;
    margin-top: 7.375rem;
    font-size: 1rem;
    z-index: 1;
}

#header > p:nth-child(8){
display: none;
}

#audioPlayer{
    display: none;
}

.clearGears{
    filter: invert(8%) sepia(1%) saturate(4095%) hue-rotate(314deg) brightness(103%) contrast(80%);
    margin: 0;
    margin-top: 3.75rem;
    margin-left: 84.375rem;
}

.clearGears:hover{
    filter: invert(59%) sepia(16%) saturate(1375%) hue-rotate(144deg) brightness(93%) contrast(88%);
    opacity: 0.5;
    margin: 0;
    margin-top: 3.75rem;
    margin-left: 84.375rem;
    cursor: pointer;
}

#page > p:first-child{
    background-color: #43A2B7;
    opacity: 1;
    margin: 0;
}

#page{
    width: 1250px;
    display: flex;
    margin-top: 4.9375rem;
    margin-left: 2.6875rem;
}

.line{
    width: 1150px;
    background-color: #16C4EA;
    height: 0.125rem;
    margin-left: 1.6875rem;
    transition: background-color 1s;
}

#buttonRow{
    display: flex;
    margin-left: 1.25rem;
}

label{
    width: 250px;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    font-weight: 700;
    color: var(--color-white);
    background-color: #707070;
    opacity: 0.70;
    display: block;
    padding-top: 0.625rem;
    padding-bottom: 0.1875rem;
    text-align: center;
    border-radius: 1.5625rem 1.5625rem 0rem 0rem;
    margin: 0;
    transition: opacity 1s;
}

#buttonRow > .button:last-child > label{
    margin: 0;
}

label:hover{
    background-color: #43A2B7;
    opacity: 0.5;
    cursor: pointer;
    transition: color 0s;
} 

input:checked +label{
    opacity: 1;
    background-color: #43A2B7;
    transition: background-color 1s;
}

.button > input {
    display: none;
}

#mot{
    display: flex;
}

#mot > p:first-child, #synonyms > p, #antonyms > p{
    text-transform: capitalize;
}

#mot > p:nth-child(1){
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.4375rem;
    margin: 0;
    margin-top: 3.375rem;
    margin-left: 6.375rem;
}

#mot > p:nth-child(2){
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.875rem;
    margin: 0;
    margin:0;
    margin-top: 4.6875rem;
    margin-left: 2.1875rem;
    white-space: nowrap;
}

#mot > p:nth-child(3){
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.875rem;
    margin:0;
    margin-top: 4.6875rem;
    margin-left: 2.1875rem;
    font-style: italic;
}

.textTitle{
    color: #5e5e5e;
    transition: color 1s;
}

#mot > img:nth-child(4){
    margin-top: 4.6875rem;
    margin-left: 1.8125rem;
    border: 0.125rem solid rgba(255, 255, 255, 0);
}

#mot > img:nth-child(4):hover{
    border: 0.125rem solid #16C4EA;
    cursor: pointer;
}

#blackline{
    width: 1000px;
    background-color: #000000;
    height: 0.0625rem;
    margin-left: 3.6875rem;
    margin-bottom: 3.6875rem;
    transition: background-color 1s;
}

.blackcircle{
    min-width: 15px;
    height: 15px;
    background-color: var(--color-grey-text);
    border-radius: 0.6875rem;
    transition: background-color 1s;
}

.flex{
    display: flex;
    align-items: center;
    margin-left: 3.5625rem;
    margin-bottom: 1.625rem;
}

.flex > p{
    font-size: 1.125rem;
    line-height: 1.4375rem;
    font-weight: 500;
    margin: 0;
    margin-left: 1.5rem;
    text-align: justify;
}

.text{
    color: var(--color-grey-text);
    transition: color 1s;
}

.flexRow{
    display: flex;
    margin-bottom: 3.75rem;
}

.flexRow > .flex{
    width: 220px;
}

.flexRow > .flex > p{
    font-size: 1.5rem;
    line-height: 2.125rem;  
}

.flexRow > .flex > p:hover{
    cursor: pointer;
    color: #16C4EA;
    transition-delay: -1s;
}

/* mode sombre */

.container{
    min-height: 100vh;
    background-color: var(--color-white);
    transition: background-color 1s;
    padding-bottom: 3.125rem;
}

.blackContainer{
    background-color: #363636;
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 1;
    transition: background-color 1s, opacity 1s;
}

.darkRectangle{
    background-color: var(--color-white);
}

.darkRectangle:hover{
    background-color: #6d0b7c;
    cursor: pointer;
}

.darkRectangle:hover > .circle{
    background-color: var(--color-white);
    cursor: pointer;
}

.darkCircle{
    background-color: #000;
    margin-left: 0.25rem;
    transition: margin 0.5s ease-in-out;
 

}

.darkLabel{
    opacity: 1;
    transition: opacity 1s;
}

.darkLabel:hover{
    background-color: #3EC4E1;
    opacity: 1;

} 

input:checked + .darkLabel{
    opacity: 1;
    background-color: #108AE2;
    transition: background-color 0s;
}

.darkLine{
    background-color: #43A2B7;
    transition: background-color 1s;
}

.clearLogo{
    display: none;
}

.darkSearchBar {
    border: 0.125rem solid #108AE2;
    transition: border-color 1s;
}

.darkSearch{
    background-color: #108AE2;
    transition: background-color 1s;
}

.darkSlogan{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 598px;
    font-size: 1.625rem;
    font-weight: 700;
    color: #E3E3E3;
    line-height: 1.6875rem;
    margin: 0;
    text-align: center;   
    white-space: nowrap; 
    margin-top: 6.4375rem;
    margin-left: 18.75rem;
    color: #108AE2;
    transition: color 1s;
}

.darkSoundLogo{
    filter: invert(77%) sepia(0%) saturate(7396%) hue-rotate(277deg) brightness(113%) contrast(105%);
}

.darkBullet{
    background-color: var(--color-white-text);
    transition: background-color 1s;
}

.darkText{
    color: var(--color-white-text);
    transition: color 1s;
}

.darkWord{
    color: var(--color-white);
    transition: color 1s;
}

.darkGears{
    filter: invert(88%) sepia(0%) saturate(1972%) hue-rotate(141deg) brightness(100%) contrast(101%); 
}

.darkGears:hover{
    filter: invert(59%) sepia(16%) saturate(1375%) hue-rotate(140deg) brightness(130%) contrast(88%);
    opacity: 1;  
}

/* modal */ 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
}

.modalContent {
    background-color: #fff;
    padding: 0.4375rem 0rem 1.25rem 2.8125rem;
    border-radius: 0.9375rem;
    max-width: 300px;
    margin: 15% auto;
    position: relative;
    border: 0.1875rem solid #6d0b7c;
    display: block;
}

.modalContent > img{
    transform: rotate(45deg);
    margin-left: 16.25rem;
}

.modalContent > img:hover{
    transform: rotate(45deg);
    margin-left: 16.25rem;
    filter: invert(13%) sepia(98%) saturate(3319%) hue-rotate(303deg) brightness(88%) contrast(109%);
    cursor: pointer;    
}

.buttonModal{
    width: 250px;
}

.buttonModal > label {
    width: 250px;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    font-weight: 700;
    color: var(--color-white);
    background-color: #707070;
    opacity: 0.70;
    display: block;
     padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    text-align: center;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    margin: 0;
    transition: opacity 1s;    
}

.buttonModal > input {
    display: none;
}

.buttonModal > label:hover{
    background-color: #6d0b7c;
    opacity: 0.5;
    cursor: pointer;
    transition: color 0s;
} 

.buttonModal > input:checked + label{
    opacity: 1;
    background-color: #6d0b7c;
    transition: background-color 1s;
}

.modalContent > .buttonModal > label {
    margin-bottom: 1.25rem;
}

.modalContent > .buttonModal:nth-child(2) > label{
    font-family: 'Merriweather Sans', sans-serif;
}

.modalContent > .buttonModal:nth-child(3) > label{
    font-family: 'EB Garamond', serif;
}

.modalContent > .buttonModal:nth-child(4) > label{
    font-family: 'JetBrains Mono', monospace;
}

.buttonModal > .darkLabelModal{
    opacity: 1;
}

.buttonModal > .darkLabelModal:hover{
  opacity: 1;
  background-color: #85558d;  
}

.buttonModal > input:checked + .darkLabelModal{
    background-color: #6d0b7c;
    transition: none; 
  }

.darkModalContent{
    background-color: #363636;
}

.typewritter{
    display: grid;
}

.Slogan{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 598px;
    font-size: 1.625rem;
    font-weight: 700;
    color: #145462;
    line-height: 1.6875rem;
    margin: 0;
    text-align: center;   
    white-space: nowrap; 
    margin-top: 6.4375rem;
    margin-left: 18.75rem;
}

.cursor{
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 1.8125rem;
    color: #145462;
    margin-top: 6.125rem;
    margin-left: 56rem;
}

.darkCursor{
    transition: color 1s;
    color: #108AE2;
}


@media (min-width: 770px) and (max-width: 1025px) {

    #header{
        width: 1024px;
    }

    #page{
        width: 900px;
    }

    .slogan{
        display: none;
    }

    .inputValid{
        margin-left: 22.5rem; 
    }

    .search{
        margin-left: 44.9375rem; 
    }

    .rectangle{
        margin-left: 53.75rem;
    }

    #header > p:nth-child(7){
        margin-left: 23.75rem;
    }

    .clearGears{
        margin-left: 57.5rem;
    }

    .clearGears:hover{
        margin-left: 57.5rem;
    }

    label{
        width: 210px;
    }

    .line{
        width: 940px;
    }

    #mot > p:nth-child(1){
        font-size: 3.125rem;
    }
    #mot > p:nth-child(2){
        font-size: 1.625rem;
    }
    #mot > p:nth-child(3){
        font-size: 1.625rem;
    }

    #mot > img:nth-child(4){
        margin-top: 4.375rem;
    }
    
    #blackline{
        width: 800px;
        margin-left: 1.5625rem;
    }

    .flex > .text {
        width: 750px;
    }

    .flexRow > .flex{
        width: 150px;
    }

    .flexRow > .flex > p{
        font-size: 1.125rem;
        line-height: 2.125rem;  
    }

    .Slogan{
        margin-top: 6.25rem;
        margin-left: 12.5rem;
    }

    .darkSlogan{
        margin-top: 6.25rem;
        margin-left: 12.5rem;
    }
    
    
    .cursor{
        font-size: 1.8125rem;
        margin-top: 5.9375rem;
        margin-left: 49.75rem;
    }
}

@media (min-width: 427px) and (max-width: 769px) {

    #header{
        width: 768px;
    }

    #page{
        width: 620px;
    }

    #header > img:nth-child(1){
        width: 192px;
    }

    #header > img:nth-child(6){
        width: 192px;
        
    }

    .inputValid{
        width: 242px;
        margin-left: 17.8125rem; 
    }

    .search{
        margin-left: 32.1875rem; 
        padding-top: 0.5625rem;
    }

    .rectangle{
        margin-left: 39.375rem;
    }

    #header > p:nth-child(7){
        margin-left: 18.75rem;
        font-size: 0.75rem;
    }

    .slogan{
        display: none;
    }

    .clearGears{
        margin-left: 43.125rem;
    }

    .clearGears:hover{
        margin-left: 43.125rem;
    }

    label{
        width: 150px;
        font-size: 1.125rem;
    }

    .line{
        width: 700px;
    }

    #mot > p:nth-child(1){
        font-size: 1.875rem;
        margin-top: 1.875rem;
    }
    #mot > p:nth-child(2){
        font-size: 1.25rem;
        margin-top: 3.1875rem;
    }
    #mot > p:nth-child(3){
        font-size: 1.25rem;
        margin-top: 3.1875rem;
    }

    #mot > img:nth-child(4){
        margin-top: 2.875rem;
    }

    #blackline{
        width: 620px;
    }

    .flex > .text {
        width: 590px;
    }

    .flexRow > .flex{
        width: 110px;
    }

    .flexRow > .flex > p{
        font-size: 0.875rem;
        line-height: 2.125rem;  
    }

    .modalContent {
        max-width:250px;
    }
    
    .modalContent > img{
        margin-left: 13.125rem;
    }
    
    .modalContent > img:hover{
        margin-left: 210px;  
    }

     
    .buttonModal > label {
        width: 200px;
        font-size: 1.125rem;
        line-height: 1.25rem;
    }

    .Slogan{
        width: 457px;
        font-size: 1.25rem;
        margin-top: 6.25rem;
        margin-left: 9.375rem;
    }

    .darkSlogan{
        width: 457px;
        font-size: 1.25rem;
        margin-top: 6.25rem;
        margin-left: 9.375rem;
    }
    
    .cursor{
        font-size: 1.3125rem;
        margin-top: 6.25rem;
        margin-left: 38.0625rem;
    }
    
    
}

@media (min-width: 377px) and (max-width: 426px) {


    #header > *{
        grid-row-start: 1;
        grid-column-start: 1;
    }

    #header{
        grid-template-rows: 11.3125rem;
        grid-template-columns: 26.5625rem;
        width: 414px;
    }

    #page{
        width: 620px;
       
    }

    #header > img:nth-child(1){
        width: 230px;
        margin-top: 2.1875rem;
        margin-left: 0.5rem;
        
    }

    #header > img:nth-child(6){
        width: 230px;
        margin-top: 1.6875rem;
        margin-left: 0.5rem;
    }
    .slogan{
        font-size: 0.75rem;
        line-height: 1.125rem;
        margin-top: 2.5625rem;
        margin-left: 15rem;
        width: 170px;
    }

    .inputValid{
        width: 300px;
        margin-left: 2.875rem;
        margin-bottom: 0rem;
        margin-top: 8.75rem;
    }

    .search{
        margin-top: 8.75rem;
        margin-left: 20.9375rem; 
        margin-bottom: 0rem;
        z-index: 1;
    }



    .clearGears{
        margin-left: 43.125rem;
    }

    .clearGears:hover{
        margin-left: 43.125rem;
    }

    #header > p:nth-child(7){
        margin-top: 11.875rem;
        margin-left: 2.5rem;
        font-size: 0.75rem;
    }

    .rectangle{
     
        margin-top: 3.0625rem;
        z-index: 1; 
        margin-left: 18.75rem;
    }

    .clearGears{
        margin-top: 1.5625rem;
        margin-left: 22.3125rem;
        z-index: 1;
    }

    .clearGears:hover{
        margin-top: 1.5625rem;
        margin-left: 19.5rem;
        z-index: 1;
    }

    #page{
        width: 410px;
        position: absolute;
    }


    #buttonRow {
        margin: 0;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .button > label{
        width: 105px;
        font-size: 0.875rem;
        border-radius: 0;
        border-top: solid 0.0625rem;
        border-right: solid 0.0625rem;
        line-height: 3.125rem;
        opacity: 1;
        background-color: #909090;
        transition: background-color 1s;
        padding-top: 0.4375rem;
        padding-bottom: 0.375rem;
    }

     .button > .darkLabel{
        background-color: #707070;
        transition: background-color 1s;
    }
    
    .line{
        display: none;
    }

    #mot{
        width: 410px;
    }

    #mot > p:nth-child(1){
        font-size: 1.125rem;
        margin-top: 1.875rem;
        margin-left: 1.875rem;
    }
    #mot > p:nth-child(2){
        font-size: 0.75rem;
        margin-top: 3.1875rem;
        margin-left: 0.625rem;
    }
    #mot > p:nth-child(3){
        font-size: 0.75rem;
        margin-top: 3.1875rem;
        margin-left: 0.625rem;
    }

    #mot > img:nth-child(4){
        margin-top: 2.875rem;
        margin-left: 0.625rem;
    }

    #blackline{
        width: 360px;
        margin-left: 1.25rem;
    }

    .blackcircle{
        min-width: 12px;
        height: 12px;
    }

    .flex > .text {
        width: 318px;
        font-size: 0.75rem;
        margin-left: 0.75rem;
    }

    .flex {
        width: 350px;
        margin-left: 1.75rem;
       
    }

    .flexRow{
        width: 200px;
        display: block;
    }

    #synonyms, #antonyms{
        width: 400px;
        display: flex;
    }

    .flexRow > .flex{
        width: 110px;
    }

    .flexRow > .flex > p{
        width: 200px;
        font-size: 0.875rem;
        line-height: 2.125rem;  
    }

    .modalContent {
        max-width:150px;
        padding-left: 1.5625rem;
        padding-bottom: 0.9375rem;
    }
    
    .modalContent > img{
        width: 20px;
        height: 20px;
        margin-left: 7.5rem;
    }
    
    .modalContent > img:hover{
        margin-left: 7.5rem;  
    }
     
    .modalContent > .buttonModal > label {
        width: 120px;
        font-size: 1rem;
        line-height: 0.9375rem;
        margin-bottom: 0.9375rem;
    }

    .Slogan{
        width: 327px;
        font-size: 1.25rem;
        line-height: 1.6875rem;
         white-space: normal;
        margin-top: 6.25rem;
        margin-left: 3.0625rem;
    }

    .darkSlogan{
        width: 327px;
        font-size: 1.25rem;
        line-height: 1.6875rem;
         white-space: normal;
        margin-top: 6.25rem;
        margin-left: 3.0625rem;
    }
    
    .cursor{
        font-size: 1.3125rem;
        margin-top: 8rem;
        margin-left: 18rem;
    }
    

}


@media (max-width: 376px) {

    #header > *{
        grid-row-start: 1;
        grid-column-start: 1;
    }


    #header{
        grid-template-rows: 181px;
        grid-template-columns: 375px;
        width: 370px;
    }

    #header > img:nth-child(1){
        width: 200px;
        margin-top: 2.1875rem;
        margin-left: 0.5rem;
        
    }

    #header > img:nth-child(6){
        width: 200px;
        margin-top: 1.6875rem;
        margin-left: 0.5rem;
    }

    #header > p:nth-child(7){
        margin-top: 11.875rem;
        margin-left: 2.5rem;
        font-size: 0.75rem;
    }

    .slogan{
        font-size: 0.75rem;
        line-height: 1.125rem;
        margin-top: 2.5625rem;
        margin-left: 11.5625rem;
        width: 170px;
    }

    

    .inputValid{
        width: 267px;
        margin-left: 2.6875rem;
        margin-bottom: 0rem;
        margin-top: 8.75rem;
        padding-left: 1.375rem;
        z-index: 4;
    }

    .search{
        margin-top: 8.75rem;
        margin-left: 18.0625rem; 
        margin-bottom: 0rem;
        z-index: 5;
    }

    .rectangle{
     
        margin-top: 3.0625rem;
        
        z-index: 1; 
        margin-left: 16.0625rem;
    }

    .clearGears{
        margin-top: 1.5625rem;
        margin-left: 19.5rem;
        z-index: 1;
    }

    .clearGears:hover{
        margin-top: 1.5625rem;
        margin-left: 19.5rem;
        z-index: 1;
    }

    #header > p:nth-child(7){
        margin-left: 1.9375rem;
    }

    .line{
        display: none;
    }

    #page{
        width: 410px;
        position: absolute;
        width: 0px;
    }


    #buttonRow {
        margin: 0;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .button > label{
        width: 93px;
        font-size: 0.8125rem;
        border-radius: 0;
        border-top: solid 0.0625rem;
        border-right: solid 0.0625rem;
        line-height: 3.125rem;
        opacity: 1;
        background-color: #909090;
        transition: background-color 1s;
        padding-top: 0.4375rem;
        padding-bottom: 0.375rem;
    }

     .button > .darkLabel{
        background-color: #707070;
        transition: background-color 1s;
    }
    
    .line{
        display: none;
    }

    #mot{
        width: 374px;
    }

    #mot > p:nth-child(1){
        font-size: 1.125rem;
        margin-top: 1.875rem;
        margin-left: 1.875rem;
    }
    #mot > p:nth-child(2){
        font-size: 0.75rem;
        margin-top: 3.1875rem;
        margin-left: 0.625rem;
    }
    #mot > p:nth-child(3){
        font-size: 0.75rem;
        margin-top: 3.1875rem;
        margin-left: 0.625rem;
    }

    #mot > img:nth-child(4){
        margin-top: 2.875rem;
        margin-left: 0.625rem;
    }

    #blackline{
        width: 330px;
        margin-left: 0.875rem;
    }

    .blackcircle{
        min-width: 12px;
        height: 12px;
    }

    .flex > .text {
        width: 19.875rem;
        font-size: 0.75rem;
        margin-left: 0.75rem;
    }

    .flex {
        width: 350px;
        margin-left: 1.75rem;
       
    }

    .flexRow{
        width: 200px;
        display: block;
    }

    #synonyms, #antonyms{
        width: 400px;
        display: flex;
    }

    .flexRow > .flex{
        width: 110px;
    }

    .flexRow > .flex > p{
        width: 200px;
        font-size: 0.875rem;
        line-height: 2.125rem;  
    }

    .modalContent {
        max-width:9.375rem;
        padding-left: 1.5625rem;
        padding-bottom: 0.9375rem;
    }
    
    .modalContent > img{
        width: 20px;
        height: 20px;
        margin-left: 7.5rem;
    }
    
    .modalContent > img:hover{
        margin-left: 120px;  
    }
     
    .modalContent > .buttonModal > label {
        width: 120px;
        font-size: 1rem;
        line-height: 0.9375rem;
        margin-bottom: 0.9375rem;
    }


    #synonyms, #antonyms{
        width: 370px;
    }

    .flex {
        width: 320px;
        margin-left: 1rem;
    }

    .flex > .text {
        width: 300px;
        font-size: 0.75rem;
        margin-left: 0.75rem;
    }

    .flexRow {
        width: 185px;
    }

    .Slogan{
        width: 327px;
        font-size: 1.25rem;
        line-height: 1.6875rem;
        white-space: normal;
        margin-top: 6.25rem;
        margin-left: 1.5rem;
    }

    .darkSlogan{
        width: 327px;
        font-size: 1.25rem;
        line-height: 1.6875rem;
        white-space: normal;
        margin-top: 6.25rem;
        margin-left: 1.5rem;
    }
    
    .cursor{
        font-size: 1.3125rem;
        margin-top: 8rem;
        margin-left: 16.4375rem;
    }
    

}


@media (min-width: 2559px) {
    #header{
        width: 2560px;
        grid-template-rows: 141px;
        grid-template-columns: 2560px;
    }

    #header > img:nth-child(1){
        margin-top: 4.8125rem;
        margin-left: 5.625rem;
    }
    
    #header > img:nth-child(6){
        margin-top: 4.25rem;
        margin-left: 5.625rem;
    }
    
    .rectangle{
        width: 92px;
        max-height: 44px;
        margin-top: 5rem;
        margin-left: 144.0625rem; 
        border-radius: 1.375rem;
    }
    
    .circle{
        width: 32px;
        height: 32px;
        margin-top: 0.375rem;
        margin-left: 0.375rem;
        border-radius: 1rem;
    }
    
    .inputValid{
        width: 977px;
        border-radius: 2rem 2rem 2rem 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 3.4375rem;
        margin-top: 4.375rem;
        margin-bottom: 1.8125rem;
        margin-left: 45.5rem; 
        font-size: 1.375rem;
    }

    .search{
        width: 35px;
        border-radius: 0rem 2.8125rem 2.8125rem 0rem;
        padding-top: 1.4375rem;
        padding-bottom: 2.8125rem;
        padding-left: 1.5rem;
        padding-right: 1.25rem;
        margin-top: 4.375rem;
        margin-bottom: 1.8125rem;
        margin-left: 105.375rem; 
    }

    .slogan{
    display: none; 
    }

    #header > p:nth-child(7){
        width: 400px;
        margin-left: 31.875rem;
        margin-top: 7.375rem;
        font-size: 1rem;
    }

    .clearGears{
        width: max-content;
        margin-top: 4.375rem;
        margin-left: 153.125rem;
    }

    .clearGears:hover{
        margin-top: 4.375rem;
        margin-left: 153.125rem;
    }

    #buttonRow{
        display: flex;
        margin-left: 3.75rem;
        margin-top: 2.5rem;
    }

    label{
        width: 450px;
        font-size: 2.25rem;
        padding-top: 1.25rem;
        padding-bottom: 0.8125rem;
        border-radius: 2.8125rem 2.8125rem 0rem 0rem;
    }

    .line{
        width: 2000px;
        height: 0.125rem;
        margin-left: 2.9375rem;
    }

    #mot{
        margin-left: 6.25rem;
        margin-top: 1.875rem;
    }

    #mot > p:nth-child(1){
        font-size: 5.25rem;
        font-weight: 700;
        line-height: 5.4375rem;
        margin: 0;
        margin-top: 3.375rem;
        margin-left: 6.375rem;
    }

    #mot > p:nth-child(2){
        font-size: 2.875rem;
        font-weight: 500;
        line-height: 2.875rem;
        margin: 0;
        margin:0;
        margin-top: 4.6875rem;
        margin-left: 2.1875rem;
        white-space: nowrap;
    }

    #mot > p:nth-child(3){
        font-size: 2.875rem;
        font-weight: 500;
        line-height: 2.875rem;
        margin:0;
        margin-top: 4.6875rem;
        margin-left: 2.1875rem;
        font-style: italic;
    }

    #blackline{
        width: 1700px;
        background-color: #000000;
        height: 0.0625rem;
        margin-top: 1.875rem;
        margin-left: 7.5rem;
        margin-bottom: 3.6875rem;
        transition: background-color 1s;
    }

    .flex{
        margin-left: 8.125rem;
        margin-bottom: 3.625rem;
    }

    .flex > .text {
        font-size: 1.875rem;
        margin-left: 2.5rem;
    }

    .blackcircle{
        min-width: 25px;
        height: 25px;
        background-color: var(--color-grey-text);
        border-radius: 1.0625rem;
        transition: background-color 1s;
    }

    #header > p:nth-child(7){
        width: 400px;
        margin-left: 48.9375rem;
        margin-top: 9.6875rem;
        font-size: 1.375rem;
    }

    .flexRow{
        margin-top: 9.375rem;
        margin-bottom: 3.75rem;
    }

    .flexRow > .flex{
        width: 320px;
    }

    .flexRow > .flex > p{
        font-size: 2.125rem;
    }

    .Slogan{
        font-size: 3.5rem;
        margin-top: 12.5rem;
        margin-left: 31.25rem;
    }

    .darkSlogan{
        font-size: 3.5rem;
        margin-top: 12.5rem;
        margin-left: 31.25rem;
    }


    .cursor{
        font-size: 3.5rem;
        margin-top: 11.125rem;
        margin-left: 111.625rem;
    }
}